.question {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.questionContainer h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.confirmCancelContainer {
  padding-top: 15px;
}

.confirmButton {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.confirmButton:hover {
  background-color: #45a049;
}

.cancelButton {
  padding: 10px 20px;
  background-color: #e84b4b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #e21414;
}
